body {
    font-family: 'Arial', sans-serif;
    background-color: #f5fafd;
}
h1, h2 {
    color: #004085; /* Azul Francia */
}
.bg-primary {
    background-color: #007bff !important; /* Azul Francia */
}
.bg-gradient {
    background: linear-gradient(135deg, #037af0, #042ccb); /* Gradiente de celeste a azul */
}
/* Cambiando el color de las letras del menú y el fondo */
.navbar-dark {
    background-color: #343a40; /* Fondo oscuro para mejor contraste */
}
.navbar-dark .navbar-brand {
    color: #ffffff; /* "Forward Techs" en blanco */
}
.navbar-dark .nav-link {
    color: #ffffff; /* Letras del menú en blanco */
    font-weight: bold; /* Negrita para hacerlas más fuertes */
}
.navbar-dark .nav-link:hover {
    color: #ffd700; /* Dorado al pasar el cursor */
}
section {
    padding: 40px 0;
}
footer {
    background-color: #004085;
}
footer p {
    margin: 0;
    color: #ffffff;
}
.btn-outline-primary {
    color: #004085;
    border-color: #004085;
}
.btn-outline-primary:hover {
    background-color: #004085;
    color: #fff;
}
.fixed-size-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}
.text-light {
    color: #f5fafd !important;
}
/* Ajustes de las imágenes en la sección Servicios */
#servicios .img-fluid {
    width: 100%;
    height: auto;
    max-width: 150px; /* Limitar el tamaño máximo en pantallas pequeñas */
}

/* Para pantallas más pequeñas, ajustamos el tamaño de las imágenes */
@media (max-width: 768px) {
    #servicios .col-sm-4 {
        flex: 0 0 50%; /* Dos imágenes por fila en pantallas pequeñas */
        max-width: 50%;
    }
}

@media (max-width: 576px) {
    #servicios .col-sm-4 {
        flex: 0 0 100%; /* Una imagen por fila en pantallas extra pequeñas */
        max-width: 100%;
    }
}
